body {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.headnav{
	width: 90%;
	height: 40px;
	margin: auto;
	background-color: none;
	position: fixed;
	margin-left: 5%;
	position: relative;
	
}

.login{
	float:left;
	margin-left:50px;
}
#login{
	
	margin-top: 7px;
	padding: 2px 25px;
	/*margin-left: 100px;*/
}
#sign{
	
	margin-top: 7px;
	padding: 2px 25px;
	/*margin-left: 110px;*/
}
.mainbody{
	clear: left;
	width: 90%;
	background-color: blanchedalmond;
	margin: 40px auto;
}
.footer{
	width: 90%;
	margin: auto;
	background-color: dodgerblue;
}
.logo{
	width:60%;
	height: 40px;/*之后改回40px*/
	/*background-color: aqua;*/
	overflow: hidden;
	transition:height 2s;
	-moz-transition:height 2s; /* Firefox 4 */
	-webkit-transition:height 2s; /* Safari and Chrome */
	-o-transition:height 2s; /* Opera */
	float: left;
}

.logo:hover{
	height:200px;
}
.logo-a{
	display: block;
	width: 100px;
	height: 40px;
}

.logo-img{
	width:80px;
	padding: 10px;
}

.mynav{
	list-style: none;
	float: left;
	width: 20%;
	margin: 0px;
	padding: 0px;
	height: 400px;
	background-color:lightskyblue;
	
}
.mynav a{
	display: block;
	width: 100%;
}
.asubNav{
	width: 300px;
	height: 0px;
	display: none;
}
.zsubNav{
	float: right;
	width: 80%;
	height:400px;
	background-color: lightsteelblue;
}
/*
.nav li a:hover+.subNav{
	display:block;
	position: absolute;
	
}
*/